body {
  background-image: url("./images/1960s-03.png");
  font-family: arial;
  }
.main-container{
  background-color: #FCBA12;
  color:white
  font-size:48
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #FFEDE1;
  padding: 10px;


}

h1 {

    border-style: solid;
    border-width: 2px;
    background: #f1f1f1;
}

.canvas {
   background-color: rgb(176,224,230);
   border: 5px solid gray;
   width: 300px;
   height: 300px;
   position: absolute;
}

.rainbow {
   width: 280px;
   height: 150px;
   position: absolute;
   /* If the rainbow is 280px wide and the canvas 300px total, (300-280)/2 = 10px on each side to horizontally center: */
   left: 10px;
   /* If the rainbow is 150px tall and the canvas 300px total, (300-150)/2 = 75px from bottom or top to vertically center: */
   bottom: 75px;
}
.red {
   background-color: red;
   width: 40px;
   height: 75px;
   position: absolute;
   /* Note that this is '0px' from the edge of the "rainbow" parent div, not the "canvas": */
   left: 0;
   bottom: 0;
}
.orange {
   background-color: orange;
   width: 40px;
   height: 100px;
   position: absolute;
   left: 40px;
   bottom: 0;
}
.yellow {
   background-color: yellow;
   width: 40px;
   height: 125px;
   position: absolute;
   left: 80px;
   bottom: 0;
}
.green {
   background-color: green;
   width: 40px;
   height: 150px;
   position: absolute;
   left: 120px;
   bottom: 0;
}








.stripes {
   width: 600px;
   height: 400px;
   position: absolute;
   left: 10px;
   bottom: 10px;
}
#stripe-1{
  background-color: #EE274B
  width: 250px;
  height: 75px;
  position: absolute;
  left: 15px;
  bottom: 30px;
}
#stripe-2{
  background-color:#
  width: 250px;
  height: 75px;
  position: absolute;
  left: 15px;
  bottom: 30px;
