
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i,700,700i&subset=latin-ext');

p {
  font-family: 'Raleway', sans-serif;
}

#heading {
  font-family: 'Cormorant Garamond' , serif;
  font-weight: normal;
  text-align: center;
}
#p1 {
  font-style: italic;
}
