
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Pacifico');

* {
font-family: 'Inconsolata', monospace, serif;
}

body {
  background-color: #BAD9B5;
}

h1 {
font-family: 'Pacifico', cursive; serif;
text-style: normal;
text-align: center;
}
.list {
   border: 2px dotted black;
   width: 200px
   height: 300px;
   padding: 1em;
   position: relative;
   left:30px;
   top: 15%;
   background-color: #f1bb87;
   margin: 5%;
   z-index: 0;
   position: relative;
   display: inline-block;
}

#button_link {
  border: 2px solid black;
  width: 30px;
  height: 20px;
  padding: .5em;
  background-color: #0BC9CD;
  font-family: 'Pacifico', cursive; serif;
  color: black;
  display: inline;
  position: relative;
  left: 10px;
  top: 40%;
}
.button:hover {
  background-color: #f78e69;
}

.socialmedia_graphic {
  width:80px;
  height:80px;
  position: absolute;
  top:150px;
  left: 40%;
  z-index: 2;
  opacity: 75%;
}
